# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt



#credentials


# mac stuff 
.DS_Store

# test documents for authentication
testauth*
dontup
